* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tahoma';
    font-size: 62.5%;
}
#main {
    width: 100%;;
}

.main_head {
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;

}

.container {
    width: 30%;
    padding: 2rem 0;
    margin: 2.5rem auto;
    background-color: rgb(15, 1, 46);
    border-radius: .5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-name h2 {
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 2rem;
}

.user-image {
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.userSubInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.git-link,
.main_git_link {
    text-decoration: none;
    color: #fff;
}
